.searchbox {
  background: url("../../svg/search.svg") no-repeat scroll 7px 7px, white;
  border-color: #cccccc;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  box-sizing: border-box;
  font-size: 15px;
  max-width: 400px;
  padding: 9px;
  padding-left: 40px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.searchbox::placeholder {
  color: black;
}

.searchbox--suggestion-list {
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  bottom: 22px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  max-height: 210px;
  max-width: 400px;
  overflow: scroll;
  padding-left: 0;
  position: relative;
  text-align: left;
  width: 100%;
}

.searchbox--suggestion {
  cursor: pointer;
  padding: 10px 15px;
}

.searchbox--suggestion:first-of-type {
  padding-top: 15px;
}

.searchbox--suggestion:hover {
  background-color: #f2f2f2;
  overflow: hidden;
}
