.card {
  background-color: white;
  box-sizing: border-box;
  width: 400px;
  border-radius: 8px;
  margin-top: 20px;
  text-align: left;
  padding: 0 30px 35px 30px;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.card--close-button {
  display: flex;
  position: relative;
  left: 20px;
  top: 10px;
  justify-content: end;
  -webkit-justify-content: flex-end;
}

.card--close-button svg {
  cursor: pointer;
}

.card--updated-time {
  font-size: small;
  font-weight: 500;
  line-height: 0.2;
}

.card--city {
  line-height: 0.4;
}
