.card {
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 0 30px 30px;
  text-align: left;
  width: 400px;
}

.card--city {
  margin: 8px 0;
}

.card--close-button-container {
  display: flex;
  justify-content: flex-end;
  left: 20px;
  position: relative;
  top: 10px;
  -webkit-justify-content: flex-end;
}

.card--close-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.card--close-button:hover svg path {
  fill: #4475af;
}

.card--updated-time {
  font-size: small;
  font-weight: 600;
  line-height: 0.2;
}

@media (max-width: 810px) {
  .card:first-of-type {
    margin-top: 20px;
  }
}
