.app {
  text-align: center;
}

.app--card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  margin: 50px 0;
}

.app--headers {
  margin: 100px 0 45px 0;
}

@media (max-width: 810px) {
  .app {
    padding: 0 20px;
  }

  .app--card-row {
    gap: 10px;
    margin-top: 0;
  }

  .app--headers {
    margin: 50px 0 45px 0;
  }
}
