@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(122, 54, 177, 1) 0%,
    rgba(67, 118, 175, 1) 100%
  );
}

h1 {
  font-family: "Open Sans", sans-serif;
  color: white;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: white;
}

h3 {
  color: rgba(122, 54, 177, 1);
  font-size: 24px;
  margin: 0;
}

b {
  font-weight: 600;
}

.headers {
  margin-top: 100px;
}

.loading-spinner {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
