/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap"); */

html {
  background: #7836af;
  background: linear-gradient(90deg, #7836af 0%, #4475af 100%);
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1 {
  color: white;
  font-size: 45px;
  font-weight: 600;
}

h2 {
  color: white;
  font-weight: 400;
  margin: 8px;
}

h3 {
  color: #7836af;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

b {
  font-weight: 600;
}

@media (max-width: 810px) {
  html {
    background: #6948b0;
    background: linear-gradient(to bottom right, #6948b0 0%, #4475af 100%);
    background-attachment: fixed;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 17px;
  }
}
